#include <windows.h>
#include "Fill.h"

MYMENU MENU DISCARDABLE 
BEGIN
  POPUP "&Scan Fill"
  BEGIN
    MENUITEM "&Draw Triangles", ID_DRAW_POLY
    MENUITEM "&Fill Triangles", ID_FILL, GRAYED
  END
  MENUITEM "&Clear", ID_CLEAR
  MENUITEM "&Exit",  ID_EXIT
END
